PORT=3000
FLOW_TTL_SECONDS=300
SIGNUP_TTL_SECONDS=600
GOOGLE_VC_ISSUER=https://verifiablecredentials-pa.googleapis.com
GOOGLE_VC_JWKS=https://verifiablecredentials-pa.googleapis.com/.well-known/vc-public-jwks
DEBUG_UI_ENABLED=true
CAPTURE_CREDENTIAL_ARTIFACTS=true
